:root {
  --ff-primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  font-family: var(--ff-primary);
  padding: 0.8em 1.5em;
  border: 0;
  border-radius: 0.5em;
  font-size: 0.95rem;
  cursor: pointer;
  color: white;
}
