.container {
  background: #fff;
  position: relative;
  /* width: 90%; */
  /* max-width: var(--width-max); */
  /* height: 300px; */
  padding: 2em;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1em dotted var(--grey);
  text-align: center;
  color: var(--grey);
  z-index: 20;
  transition: all 0.3s ease-out;
  cursor: pointer;
  border-radius: 0.5em;
  /* box-shadow: 0 0 0 1px rgba(255,255,255,.05), inset 0 0 .25em 0 rgba(0,0,0,.25); */
}

.buttons {
  display: flex;
  column-gap: 1em;
}
.btn__clear {
  background-color: var(--red);
}

.btn__upload {
  background-color: var(--greenblue);
}

.img__preview {
  width: 300px;
  margin-bottom: 35px;
}

.img__preview span {
  font-size: 14px;
}

.file__metadata {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

i.remove {
  cursor: pointer;
}
i.remove:hover {
  transform: scale(1.3);
}
