.container {
  width: 100%;
  background: #fff;
  position: relative;
  /* padding: 2em 0; */
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 0 1px rgba(255,255,255,.05), inset 0 0 .25em 0 rgba(0,0,0,.25); */
}

.droparea {
  width: 100%;
  padding: 2em;
  border: 0.15em dotted grey;
  text-align: center;
  border-radius: 0.5em;
  color: rgb(56, 56, 56);
  z-index: 20;
  transition: all 0.3s ease-out;
  cursor: pointer;
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  column-gap: 1em;
}

.btn__clear {
  background-color: rgb(199, 97, 97);
}

.btn__upload {
  background-color: rgb(23, 109, 90);
}

.img__preview {
  width: 90%;
  border: 0.1em solid grey;
}

