.container {
  width: 100%;
  background: #fff;
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.droparea {
  width: 100%;
  padding: 2em;
  border: 0.15em dotted grey;
  text-align: center;
  border-radius: 0.5em;
  color: rgb(56, 56, 56);
  z-index: 20;
  transition: all 0.3s ease-out;
  cursor: pointer;
  margin-bottom: 1em;
}

.btn__clear {
  background-color: rgb(199, 97, 97);
  margin: 0 auto;
}

.img__preview {
  width: 300px;
  margin-bottom: 35px;
}

.img__preview span {
  font-size: 14px;
}

.file__metadata {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
